@import '@/assets/styles/variables';

.wrapper {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 70px 0;
	height: 100%;

	> h1 {
		align-self: flex-start;
		margin-bottom: 30px;

		font-size: 36px;
		font-weight: 600;
		line-height: 1.3;
	}

	> form {
		display: flex;
		flex-direction: column;
		width: 100%;

		> .field {
			margin-bottom: 20px;
			width: 100%;
			min-height: 50px;
			padding: 0px 10px;
			border: none;
			border-radius: 0.5rem;
			letter-spacing: 2px;
			color: darken($field-color, 30%);

			&::placeholder {
				color: $field-color;
			}
		}

		> div {
			> span {
				margin-left: 15px;
				color: red;
			}
		}
	}

	> div {
		width: 100%;
		max-width: 300px;

		> h3 {
			margin-bottom: 20px;

			font-size: 20.5px;
			font-weight: 400;
		}
	}
}
