@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	> div {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		width: 100%;

		> a {
			color: inherit;
			text-decoration: none;

			> div {
				@include transition(transform);

				position: relative;

				> .post_menu {
					visibility: hidden;
					display: flex;
					flex-direction: column;

					position: absolute;
					top: 0;
					right: 0;

					> button {
						align-self: flex-end;
						padding-top: 10px;
						height: 30px;

						background-color: transparent;

						> svg {
							color: $white;
							max-height: 30px;
							font-size: 30px;
							transition: opacity 0.2s ease-in-out;
						}

						&:hover ~ ul {
							display: block;
						}

						&.active {
							> svg {
								opacity: 0.6;
							}
						}
					}

					> ul {
						display: none;
						padding: 15px 0 10px;

						> li {
							> button {
								width: 100%;
								padding: 5px 20px;
								background-color: rgba($bg-color, 1);

								@include transition(background-color);

								&:hover {
									background-color: rgba($bg-color, 0.8);
								}
							}
						}

						&:hover {
							display: block;
						}
					}
				}

				&:hover {
					transform: translateY(-1%);
				}

				&:hover .shadow {
					@include box-shadow;
				}

				&:hover .image {
					filter: brightness(70%);
				}

				&:hover > .post_menu {
					visibility: visible;
				}
			}
		}
	}

	> div:first-child {
		max-width: 80%;

		> a {
			max-width: 47%;

			> div {
				> img {
					min-width: 468px;
				}
			}
		}
	}

	> div:nth-child(odd):not(div:first-child) {
		> a:first-child {
			width: 57%;
		}

		> a:last-child {
			width: 38%;
		}
	}

	> div:nth-child(even) {
		> a:first-child {
			width: 38%;
		}

		> a:last-child {
			width: 57%;
		}
	}
}

.image {
	height: 585px;
	object-fit: cover;

	@include transition(filter);
}

.info {
	margin-top: 20px;

	> div {
		display: flex;
		margin-bottom: 10px;

		> p {
			font-size: 10px;
			color: $category;
			letter-spacing: 5px;
			text-transform: uppercase;
		}
	}

	> div:first-child ~ p:not(p:last-child) {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: 1.2px;
	}

	> p:last-child {
		margin-top: 15px;

		font-size: 16px;
		color: darken($field-color, 10%);
		letter-spacing: 1px;
	}
}

.shadow {
	width: 100%;
	height: 585px;
	position: absolute;
	top: 0;
	z-index: -1;
	@include transition(box-shadow);
}
