@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

@mixin post {
	> a {
		@include transition(flex);

		color: inherit;
		text-decoration: none;

		> div {
			@include transition(transform);
			animation: opacity 1s ease;

			position: relative;
			min-height: 80px;

			> .post_menu {
				visibility: hidden;
				display: flex;
				flex-direction: column;

				position: absolute;
				top: 0;
				right: 0;

				> button {
					align-self: flex-end;
					padding-top: 10px;
					height: 30px;

					background-color: transparent;

					> svg {
						color: $white;
						max-height: 30px;
						font-size: 30px;
						transition: opacity 0.2s ease-in-out;
					}

					&:hover ~ ul {
						display: block;
					}

					&.active {
						> svg {
							opacity: 0.6;
						}
					}
				}

				> ul {
					display: none;
					padding: 15px 0 10px;

					> li {
						> button {
							width: 100%;
							padding: 5px 20px;
							background-color: rgba($bg-color, 1);

							@include transition(background-color);

							&:hover {
								background-color: rgba($bg-color, 0.8);
							}
						}
					}

					&:hover {
						display: block;
					}
				}
			}

			&:hover {
				transform: translateY(-1%);
			}

			&:hover .shadow {
				@include box-shadow;
			}

			&:hover .image {
				filter: brightness(70%);
			}

			&:hover > .post_menu {
				visibility: visible;
			}
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;

	> div {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		width: 100%;
		flex-wrap: wrap;

		@include post;
	}

	> div:first-child {
		justify-content: flex-end;

		> div {
			display: flex;
			flex: 0 0 80%;
			justify-content: space-between;
			flex-wrap: wrap;

			@include post;
			@include transition(flex);

			> a {
				flex: 0 0 47%;
			}
		}

		@media (max-width: 1100px) {
			> div {
				flex: 0 0 100%;
			}
		}

		@media (max-width: 770px) {
			> div {
				> a {
					flex: 0 0 100%;
				}

				> a:first-child {
					margin-bottom: 50px;
				}
			}
		}
	}

	> div:nth-child(odd):not(div:first-child) {
		> a:first-child {
			flex: 0 0 57%;
		}

		> a:last-child {
			flex: 0 0 38%;
		}

		@media (max-width: 960px) {
			> a:first-child,
			a:last-child {
				flex: 0 0 47%;
			}
		}

		@media (max-width: 770px) {
			> a:first-child,
			a:last-child {
				flex: 0 0 100%;
			}

			> a:first-child {
				margin-bottom: 50px;
			}
		}
	}

	> div:nth-child(even) {
		> a:first-child {
			flex: 0 0 38%;
		}

		> a:last-child {
			flex: 0 0 57%;
		}

		@media (max-width: 960px) {
			> a:first-child,
			a:last-child {
				flex: 0 0 47%;
			}
		}

		@media (max-width: 770px) {
			> a:first-child,
			a:last-child {
				flex: 0 0 100%;
			}

			> a:first-child {
				margin-bottom: 50px;
			}
		}
	}
}

.image {
	height: 585px;
	object-fit: cover;

	@include transition(all);

	@media (max-width: 550px) {
		height: 400px;
	}
}

.info {
	margin-top: 20px;

	> div {
		display: flex;
		margin-bottom: 10px;
		flex-wrap: wrap;

		> p {
			font-size: 10px;
			color: $category;
			letter-spacing: 5px;
			text-transform: uppercase;

			@media (max-width: 550px) {
				font-size: 8px;
			}
		}
	}

	> div:first-child ~ p:not(p:last-child) {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: 1.2px;

		@media (max-width: 600px) {
			font-size: 1.2rem;
		}
	}

	> p:last-child {
		margin-top: 15px;

		font-size: 16px;
		color: darken($field-color, 10%);
		letter-spacing: 1px;

		@media (max-width: 550px) {
			font-size: 14px;
		}
	}
}

.shadow {
	width: 100%;
	height: 585px;
	position: absolute;
	top: 0;
	z-index: -1;
	@include transition(all);

	@media (max-width: 550px) {
		height: 400px;
	}
}

// @keyframes opacity {
// 	from {
// 		opacity: 0;
// 	}

// 	to {
// 		opacity: 1;
// 	}
// }
