@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0 65px;

	> a {
		margin-bottom: 50px;
		width: 30%;
		flex-grow: 0;

		color: inherit;
		text-decoration: none;

		> div {
			@include transition(transform);

			position: relative;

			> img {
				height: 300px;
				object-fit: cover;

				@include transition(all);
			}

			&:hover {
				transform: translateY(-1%);
			}

			&:hover .shadow {
				@include box-shadow;
			}

			&:hover > img {
				filter: brightness(70%);
			}

			&:hover > div:last-child {
				visibility: visible;
			}
		}

		@media (max-width: 1389px) {
			flex-grow: 1;

			&:last-child {
				flex-grow: 0;
				width: 47%;
			}
		}

		@media (max-width: 700px) {
			width: 100%;

			> div {
				> img {
					height: 400px;
				}
			}

			&:last-child {
				width: 100%;
			}
		}
	}

	.info {
		margin-top: 20px;

		> div {
			display: flex;
			margin-bottom: 10px;
			flex-wrap: wrap;

			> p {
				font-size: 10px;
				color: $category;
				letter-spacing: 5px;
				text-transform: uppercase;

				@media (max-width: 550px) {
					font-size: 8px;
				}
			}
		}

		> div:first-child ~ p:not(p:last-child) {
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 1.3;
			letter-spacing: 1.2px;

			@media (max-width: 600px) {
				font-size: 1.2rem;
			}
		}

		> p:last-child {
			margin-top: 15px;

			font-size: 16px;
			color: darken($field-color, 10%);
			letter-spacing: 1px;

			@media (max-width: 550px) {
				font-size: 14px;
			}
		}
	}

	.shadow {
		@include transition(all);

		width: 100%;
		height: 300px;
		position: absolute;
		top: 0;
		z-index: -1;
	}
}
