@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.popular_hashtags {
	@include transition(all);

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	background: linear-gradient(
		90deg,
		rgba(#aea4e3, 0.2) 20%,
		rgba(#d3ffe8, 0.4) 100%
	);
	height: 350px;
	padding: 20px;
	width: 390px;

	border: 1px solid $category;

	> h3 {
		font-size: 10px;
		color: $category;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	> nav {
		margin-top: 30px;

		> ul {
			display: flex;
			flex-wrap: wrap;

			> li {
				> a {
					@include transition(all);

					padding: 5px 15px;
					font-size: 0.9rem;
					color: inherit;
					text-decoration: none;
					border: 1px solid rgba($category, 0.2);

					&:hover {
						background-color: rgba($category, 0.2);
					}
				}

				&:not(:last-child) {
					margin-right: 15px;
					margin-bottom: 10px;
				}
			}
		}
	}

	@media (max-width: 1396px) {
		width: 45%;
		flex-grow: 0;
		height: 400px;
	}

	@media (max-width: 740px) {
		width: 100%;
	}

	@media (max-width: 600px) {
		height: 400px;
	}

	@media (max-width: 600px) {
		height: 500px;
	}
}
