@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.post_title_wrapper {
	display: flex;

	> div:first-child {
		width: 35%;
		padding: 0 100px 0 50px;
		align-self: center;
		text-align: center;

		> p:first-child {
			margin-bottom: 45px;

			font-size: 12px;
			font-weight: 200;
			color: $category;
			letter-spacing: 10px;
			text-transform: uppercase;
		}

		> h1 {
			margin-bottom: 70px;

			font-size: 36px;
			font-weight: 600;
			line-height: 1.3;

			& ~ p {
				margin-bottom: 70px;

				font-size: 12px;
				letter-spacing: 1px;
			}
		}
	}

	> div:last-child {
		width: 65%;

		> img {
			@include transition(height);

			height: 800px;
		}
	}

	@media (max-width: 960px) {
		flex-direction: column;

		> div:first-child {
			width: 100%;
			padding: 0;
			text-align: center;
			margin-bottom: 30px;

			> p:first-child {
				margin-bottom: 25px;
			}

			> h1 {
				font-size: 30px;
				margin-bottom: 30px;

				& ~ p {
					margin-bottom: 30px;
				}
			}
		}

		> div:last-child {
			width: 100%;

			> img {
				height: 700px;
			}
		}
	}

	@mixin media_img($width_size, $height_size) {
		@media (max-width: $width_size) {
			> div:last-child {
				> img {
					height: $height_size;
				}
			}
		}
	}

	@include media_img(960px, 800px);
	@include media_img(800px, 700px);
	@include media_img(700px, 600px);
	@include media_img(500px, 500px);
	@include media_img(400px, 400px);
	@include media_img(320px, 320px);
}

.article_post {
	.btn_add_wrapper {
		margin: 50px 0;
		text-align: center;
	}

	.form_wrapper {
		margin-bottom: 30px;
	}

	.content_post_wrapper {
		width: 100%;
		max-width: 830px;
		margin: 100px auto 0;

		> div {
			padding: 0 50px;
			margin-top: 50px;
			min-height: 80px;
			position: relative;

			> h3 {
				margin-bottom: 20px;
				word-wrap: break-word;
				font-size: 25px;
				font-weight: 700;

				> span {
					background-color: $bg-search;
					color: $white;
				}
			}

			> p {
				color: darken($field-color, 30%);
				white-space: break-spaces;

				> span {
					background-color: $bg-search;
					color: $white;
				}
			}

			> div:not(:last-child, .main_text) {
				display: flex;
				justify-content: center;
				margin: 60px 0;

				> img {
					@include transition(height);

					max-width: 650px;
					height: 700px;

					@mixin media_img($width_size, $height_size) {
						@media (max-width: $width_size) {
							height: $height_size;
						}
					}

					@include media_img(960px, 600px);
					@include media_img(660px, 500px);
					@include media_img(500px, 400px);
					@include media_img(460px, 300px);
				}
			}

			> div.menu_wrapper {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin: 0;

				position: absolute;
				right: 0;
				top: 0;

				> .btn {
					height: 26px;
					font-size: 24px;
					background-color: transparent;

					transition: all 0.4s ease;

					&:hover {
						opacity: 0.7;

						& ~ ul {
							display: block;
						}
					}

					&_active {
						opacity: 0.7;
					}
				}

				> ul {
					display: none;
					text-align: end;
					margin-top: 10px;
					z-index: 10;

					> li {
						> a {
							display: block;
							padding: 10px;
							color: inherit;
							text-decoration: none;
							background-color: $bg-color;

							transition: background-color 0.4s ease;

							&:hover {
								background-color: darken($bg-color, 15%);
							}
						}
					}

					&:hover {
						display: block;
					}
				}
			}
		}

		@media (max-width: 960px) {
			max-width: 100%;

			> div {
				padding: 0;
			}
		}
	}
}
