@import '@/assets/styles/mixins';

.form {
	width: 100%;
	max-width: 650px;
	margin: 50px auto 0;

	> input {
		width: 100%;
		margin-bottom: 30px;
		padding: 10px 20px;
		border-radius: 0.5rem;
	}

	> textarea {
		width: 100%;
		resize: vertical;
		margin-bottom: 30px;
		padding: 10px 20px;
		min-height: 51px;
		border-radius: 0.5rem 0.5rem 0 0.5rem;
	}

	> div:not(:last-child) {
		@include transition(height);
		margin-bottom: 10px;
		border-radius: 1rem;
		> img {
			@include transition(height);
			border-radius: 1rem;
		}

		@media (max-width: 550px) {
			min-width: auto;
			height: 400px;

			> img {
				height: 400px;
			}
		}
	}

	> div:last-child {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-top: 40px;
		flex-wrap: wrap;

		> div {
			position: absolute;
			top: 0;
			left: 0;
			color: red;
		}

		> button {
			@include transition(all);

			width: 100%;
			max-width: 250px;
			text-transform: capitalize;

			@media (max-width: 720px) {
				max-width: 100%;

				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
	}

	@media (max-width: 600px) {
		font-size: 16px;
	}
}
