@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.search {
	font-size: 25px;
	background-color: transparent;

	@media (max-width: 960px) {
		height: 40px;
		font-size: 30px;
	}
}

.show_input {
	@include animation-opacity(0.6s);

	width: 100%;
	padding: 20px 0 10px;

	background-color: $field-color;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	> div {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0 15px;

		> div:first-child {
			display: flex;
			align-items: baseline;
			max-width: 650px;
			width: 100%;

			> label {
				display: inline-flex;
				align-items: center;
				padding-bottom: 3px;
				border-bottom: 1px solid $black;
				max-width: 400px;
				width: 100%;
				cursor: pointer;

				> svg {
					color: darken($field-color, 30%);
				}

				> input {
					width: 100%;
					margin-left: 15px;
					background-color: transparent;

					letter-spacing: 2px;
					color: darken($field-color, 30%);
				}
			}

			> label ~ div {
				display: flex;
				flex-direction: column;
				margin-left: 15px;

				> button {
					background-color: transparent;
					height: 20px;

					&:first-child {
						> svg {
							transform: rotate(180deg);
						}
					}
				}
			}

			> span {
				align-self: center;
				margin-left: 10px;
			}
		}

		> div:last-child {
			margin-left: 10px;
			> button {
				background-color: transparent;
				font-size: 30px;
				vertical-align: top;

				> svg {
					color: darken($field-color, 30%);
				}
			}
		}
	}
}
