@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.button {
	@include transition(all);

	max-width: 100%;
	padding: 10px 20px;
	background-color: $white;
	border: none;
	border-radius: 0.5rem;

	letter-spacing: 2px;
	color: $field-color;

	&:hover:not(&:disabled) {
		color: darken($field-color, 30%);
	}

	&.create_post {
		@media (max-width: 750px) {
			height: 35px;
			font-size: 0;
			letter-spacing: 0;
			line-height: 0;

			border-radius: 50%;
			padding: 0;

			&::before {
				content: '\+';
				display: block;
				padding: 10px;
				font-size: 30px;
			}
		}
	}

	&.modal {
		width: 100%;
	}

	&.add_content {
		border-radius: 50%;
		font-size: 50px;
		padding: 20px;
		line-height: 0.6;
	}

	&.login {
		width: 200px;

		@media (max-width: 400px) {
			width: 100%;
		}
	}
}
