@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.popular_post {
	@include transition(height);

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	height: 350px;
	padding: 50px 60px 36px;
	width: 390px;

	border: 1px solid $category;

	> h3 {
		font-size: 10px;
		color: $category;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	> nav {
		margin-top: 30px;
		text-align: center;

		ul {
			display: flex;
			flex-direction: column;

			> li {
				> a {
					@include transition(color);

					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					white-space: pre-wrap;

					color: inherit;
					text-decoration: none;

					&:hover {
						color: $field-color;
					}
				}

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}
	}

	@media (max-width: 1396px) {
		width: 45%;
		flex-grow: 0;
		height: 400px;
	}

	@media (max-width: 740px) {
		width: 100%;
		margin-bottom: 50px;
	}

	@media (max-width: 600px) {
		height: 400px;
	}
}
