@import '@/assets/styles/variables';

.header {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: $bg-color;
	z-index: 777;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;

	> div:last-child {
		display: flex;
	}
}
