@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.burger {
	position: relative;
	padding: 0;
	display: none;
	background-color: transparent;
	border: none;

	> svg {
		@include animation-opacity;
		font-size: 40px;
	}

	> ul {
		text-align: start;
		width: 200px;
		padding-top: 31px;

		position: absolute;
		top: 100%;
		left: 0;

		> li {
			background-color: $bg-color;

			> a {
				@include transition(color);

				display: block;
				padding: 0 15px;

				font-size: 1.6rem;
				color: inherit;
				line-height: 2;
				letter-spacing: 5px;
				text-decoration: none;
				text-transform: uppercase;
			}

			&:hover {
				color: $field-color;
			}
		}
	}

	@media (max-width: 960px) {
		display: flex;
	}

	@media (max-width: 600px) {
		> svg {
			font-size: 30px;
		}
	}
}
