@import './reset.scss';
@import './variables';

body {
	font: 400 normal 1.2rem/1.6 $default-font;
	color: $black;
	background-color: $bg-color;
}

.container {
	width: 100%;
	max-width: 1335px;
	margin: 0 auto;
	padding: 0 45px;
}

.get-icon-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: -1;
	cursor: pointer;
	transition: fill 0.3s ease-in-out;
}

.field-image {
	cursor: pointer;
	color: transparent;
	max-width: 40px;
	height: 40px;

	&:hover ~ div > .get-icon-img {
		fill: $bg-modal;
	}
}

.field-image::-webkit-file-upload-button,
.field-image::file-selector-button {
	visibility: hidden;
}

.field-image::before {
	display: block;
	content: '';

	width: 34px;
	height: 34px;

	font-size: 0;
	color: transparent;

	background: transparent;
	border: none;
	cursor: pointer;
}

.text-area {
	width: 100%;
	margin: 30px 0 10px;
	resize: vertical;
	max-height: 300px;
	min-height: 80px;
	padding: 10px;

	border: none;
	border-radius: 0.5rem;
	letter-spacing: 2px;
	color: darken($field-color, 30%);

	&::placeholder {
		color: $field-color;
	}

	&--error {
		margin-top: 0;
	}
}

.select {
	&__control {
		cursor: pointer !important;
		border-radius: 0.5rem !important;
		min-height: 50px !important;
		border: none !important;

		&--is-focused {
			box-shadow: 0 0 transparent !important;
		}
	}

	&__menu {
		visibility: visible !important;
		border-radius: 0.5rem !important;

		&-list {
			padding: 0 !important;
			border-radius: 0.5rem !important;
			color: darken($field-color, 30%) !important;
		}

		&-notice {
			color: darken($field-color, 30%) !important;
		}
	}

	&__placeholder {
		color: rgba($field-color, 0.6) !important;
		letter-spacing: 2px;
	}

	&__multi-value {
		border-radius: 0.3rem !important;
		background-color: #deebff !important;

		&__label {
			color: darken($field-color, 30%) !important;
		}

		&__remove:hover {
			// background-color: #8b2557 !important;
			// color: $white !important;
			border-radius: 0 0.3rem 0.3rem 0;
		}
	}

	&__input {
		color: darken($field-color, 30%) !important;
	}

	&:invalid {
		color: red !important;
	}
}
